@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1C1C1C;
    color: #ffffff;
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;

}

p {
    margin: 0;
}

p+p {
    margin-top: 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 500;
    margin: 0;
}

.container {
    box-sizing: border-box;

    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}

.header {
    padding: 25px 0;
    position: relative;
    z-index: 10;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header_list {
    display: flex;
    gap: 30px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500px;
    font-size: 16px;

    width: 165px;
    height: 50px; 
    background-color: #F6762C;
    border-radius: 5px;

    transition: opacity 0.3s;
}

.btn-small {
    width: 141px;
    height: 39px;
    font-style: 12px;
}

.btn:hover {
    opacity: 0.9;
}

.header_nav a {
    font-size: 14px;
    opacity: 0.7;

    transition: opacity 0.3s;
}

.header_nav a.active {
    opacity: 1;
}

.header_nav a:hover {
    opacity: 0.9;
}

.welcome {
    box-sizing: border-box; /*при помощи этого мин высота включает в себя и марджин и паддинг*/
    min-height: 100vh; /*минимальная высота*/
    z-index: -1;
    margin-top: -100px;
    padding: 240px 0;

    background-image: url("./images/welcome-bg.jpg");
    background-repeat: no-repeat; /*не будет дублироваться */
    background-size: cover;  /*масштабируется так, чтобы полностью заполнить фон элемента, возможно, обрезая его*/
    background-position: center; /*картинка всегда будет в центре */

}

.welcome_text {
    width: 550px;
}

.welcome_submitle {
    margin-bottom: 7px;

    font-size: 14px; /*размер шрифта*/
    letter-spacing: 0.1em; /*контролирует расстояние между текстовыми символами*/
}

.welcome_title {
    font-size: 58px;
}

.welcome_desc {
    margin: 40px 0;
    font-style: 18px;
    opacity: 0.7; /*расстояние между абзацами*/
}

.food-list {
    padding: 100px 0;
}

.food-list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* если карточка сталкивается, то она переноситься*/
    gap: 40px 10px;
}

.food-list_card {
    width: 260px;

    overflow: hidden; /*обрезается фото, котрое выходит за карточку*/
    text-align: center;

    background: #312F30;
    border-radius: 10px;
    transition: transform 0.2s;
}

.food-list_image {
    width: 100%;
    height: 157px;
    object-fit: cover; /*картинка будет максимально пропорциональна*/
}

.food-list_text-wrapper {
    padding: 30px 20px;
}

.food-list_title {
    font-size: 20px;
    margin-bottom: 15px;
}

.food-list_desc {
    font-size: 16px;
    opacity: 0.7;
}

.food-list_card:hover {
  transform: translateY(-10px); /* Перемещение вверх */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Добавление тени */
}

.order {
    background: #312F30;
    padding: 60px 0;
}

.order_img{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 10);
    max-width: 470px;
}

.order_text {
    max-width: 360px;
}

.order_title {
    font-style: 44px;
    margin-bottom: 25px;
}

.order_desc {
    margin-bottom: 15px;
    opacity: 0.7;
}

.order_price {
    font-weight: 500;
    font-style: 20px;
    letter-spacing: 0.1em;
    color: #F6762C;
}

.order_old-price {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-decoration: line-through;

    color: #F6762C;

    opacity: 0.5;
}

.order .btn {
    margin-top: 10px;
}

.order_price + .order_price {
    margin-left: 3px;
}

.order .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 90px;
}

.product {
    padding-top: 100px;
}

.product .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.product_card {
    box-sizing: border-box;

    width: 555px;
    min-height: 300px;

    padding: 60px 30px 60px 290px;
    background-color: #462727;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.product_card:nth-child(2n) {
    padding-left: 30px;
    padding-right: 290px;
}

.product_title {
    font-size: 30px;
    margin-bottom: 20px;
}

.product_desc {
    opacity: 0.7;
    margin-bottom: 10px;
}

.product_price {
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #F6762C;
}

.product_old-price{
    text-decoration: line-through;
    color: #F6762C;
    opacity: 0.5;
}

.product .btn {
    margin-top: 10px;
}

.card-qeen {
    background-image: url("./images/product-1.jpg");
}

.card-hut {
    background-image: url("./images/product-2.jpg");
}

.card-king {
    background-image: url("./images/product-3.jpg");
}

.card-jhon {
    background-image: url("./images/product-4.jpg");
}

.feedback {
    padding-top: 140px;
    padding-bottom: 200px;
}

.feedback_text {
    margin: 0;
    max-width: 370px;
    text-align: center;

    /* display: flex;
    flex-direction: column; */
}

.feedback_text::before {
    content: url("./images/icons/quote.svg");
}

.feedback_desc {
    opacity: 0.7;
    margin: 30px;
}

.feedback_author {
    font-style: normal;
    font-weight: 500;
    font-style: 24px;
}

.feedback_american {
    font-weight: 500;
    font-style: 12px;
    opacity: 0.7;

    display: block
}

.feedback .container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    /* max-width: 880px; */
}

.download {
    background-color: #312F30;
    padding: 60px 0;
}

.download .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.download_tite {
    font-weight: 500;
    font-size: 40px;
}

.footer {
    padding: 120px 0;
}

.footer a{
    font-size: 12px;
    color: rgb(255, 255, 255, 0.8);

    transition: color 0.3s;
}

.footer a:hover{
    color: rgb(255, 255, 255, 0.9);
}

.footer .footer_title {
    display: inline-block;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    opacity: 1;
    color: #fff

}

.footer .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_logo {
    /* display: inline-block; */
    width: 70px;
    margin-bottom: 20px;
}

.footer_link + .footer_link {
    margin-top: 10px;
}

.footer_link {
    display: flex;
    align-items: center;
    gap: 7px;
}

.footer_link::before {
    content: url("/images/icons/global.svg");
    height: 12px;
    width: 12px;
}

.footer_link-mail::before {
    content: url("/images/icons/mail.svg");
}

.footer_link-web::before {
    content: url("/images/icons/global.svg");
}

.footer_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.foooter_list-item  + .foooter_list-item {
    margin-top: 15px;
}

.footer_socials-icons {
    display: flex;
    gap: 7px;
    padding-top: 15px;
}

.footer_socials-icon {
    transition: transform 0.2s;
}

.footer_socials-icon:hover {
  transform: translateY(-5px); /* Перемещение вверх */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Добавление тени */
}

label {
    display: none;
}

#burger_toggle {
    display: none;
}

/* .header_list {
    display: none;
} */

@media (max-width: 1100px) {
    .welcome_desc {
        opacity: 1;
    }
}

@media (max-width: 950px)  {
    .order .container {
        flex-direction: column;
        padding-right: 15px;
    }
    .order_text {
        text-align: center;
    }
    .order .btn {
        margin-right: auto;
        margin-left: auto;
    }

}

@media (max-width: 850px) {
    .food-list .container {
        justify-content:space-evenly;
    }

    .footer .container {
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "nav nav"
                            "contacts social";
        justify-items: center;
        gap: 40px 150px;
    }
    .footer_contacts {
        grid-area: contacts;
        justify-self: end;
    }

    .footer_nav {
        grid-area: nav;
    }

    .footer_social {
        grid-area: social;
        align-self: center;
        justify-self: start;
    }

    .footer_list {
        gap: 80px;
    }

    .feedback {
        padding-bottom: 100px;
    }

    .footer {
        padding-top: 80px;
    }

    .food-list_card:hover {
    transform: translateY(0); /* Перемещение вверх */
    }

    .footer_socials-icon:hover {
    transform: translateY(0px); /* Перемещение вверх */
    }
}

@media (max-width: 650px) {
    .header .btn {
        display: none;
    }

    .feedback_img {
        width: 200px;
    }
    /* .header .container {
        flex-direction: column;
        gap: 10px;
    }
    .header_list {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .welcome {
        margin-top: -240px;
    } */
    
    .download_tite {
        font-size: 24px;
    }

    .welcome {
        min-height: auto;
        padding: 150px 0 100px;
    }

    .welcome_text {
        width: 100%;
    }

    .welcome_title {
        font-size: 40px;
    }
    
    .welcome_desc {
        margin: 20px 0;
    }
    .product {
        padding: 60px 0 -200px;
    }

    .product_card {
        width: 100%;

        padding-left: 50%;
    }

    .product_card:nth-child(2n) {
        padding-right: 50%;
    }

    .welcome {
        position: relative;
    }

    .welcome .container {
        position: relative;
        z-index: 10;
    }

    .welcome::before {
        content: "";
        background-color: rgb(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
        top: 0;
    }
}

@media (max-width: 500px) {
    .header .container {
        flex-direction: column;
        gap: 10px;
    }
    .header_list {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .welcome {
        margin-top: -130px;
        padding-top: 180px;
        padding-bottom: 80px;
     } 

    
    .welcome_title {
        font-size: 30px;
    }
    .welcome_desc {
        font-size: 12px;
    }

    .food-list {
        padding: 60px 0;
    }

    .order_title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .order img {
        width: 100%;
    }
    
    .feedback .container {
        flex-direction: column;
    }
    
    .feedback_img {
        padding-bottom: 60px;
    }

    .download .container {
        flex-direction: column;
        gap: 20px;
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer_contacts  {
        align-items: center;
    }

    .footer_socials-icons {
        display: flex;
        justify-content: center;
    }

    .footer_list {
        gap: 20px;
    }

    .footer .footer_title {
        margin-bottom: 10px;
    }

    .foooter_list-item + .foooter_list-item {
        margin-top: 10px;
    }

    .footer_logo {
        margin-bottom: 10px;
    }

    .feedback_author {
        font-size: 18px;
    }

    .feedback_desc {
        margin: 20px 0;
        font-size: 14px;
    }

    .product_card{
        padding-left: 30px;
    }

    .product_card:nth-child(2n) {
        padding-right: 30px;
    }

    .product_desc {
        opacity: 1;
    }

    .product_card > * {
        position: relative;
        z-index: 10;
    }

    /* .product_card::before {
        content: "";
        background-color: rgb(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
        top: 0;
    } */
}

@media (max-width: 400px) {
    .welcome {
        margin-top: -170px;

    } 

     .header .container {
        flex-direction: unset;
    }

    .gamburger {
        padding-left: 30%;
        /* padding-top: 5%; */
    }

    .header_list {
        display: flex;
        transition: 0.5;
    }

    label {
        position: relative;
        display: block;
        height: 23px;
        width: 25px;
    }

    label::after, label::before, label span {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: wheat;
        transition: 0.3s;
    }

    label::before {
        content: "";
        top: 0;
    }

    label::after {
        content: "";
        bottom: 0;
    }

    label span {
        top: 10px
    }
    
    #burger_toggle:checked ~ label::after {
        transform: rotate(45deg);
        bottom: 8px;
    }
    
    #burger_toggle:checked ~ label::before {
        transform: rotate(-45deg);
        top: 12px;
    }

    #burger_toggle:checked ~ label span {
        transform: rotate(-45deg);
        top: 12px;
    }

    .header_list {
        position: fixed;
        left: 0;
        right: 0;
        background-color: #151515;
        padding-top: 100px;
        z-index: -1;
        flex-direction: column;
        text-align: end;
        top: -100vh;
        bottom: 100vh;
    }

    #burger_toggle:checked ~ .header_list {
        top: 142px;
        bottom: 0;
    }

    .header_list li a{
        font-size: 20px;
    }
}

/* display: flex;
   flex-decoration: column;
   gap: 20px; */